if (environment == "development")
  script(src="/assets/javascripts/jquery.js")
else
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
!= javascript_bundle("/assets/javascripts/main.js")
block javascripts
